/* importando fonts */

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medio';
    src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/ptserif/PTSerif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Estilo popup */

.popup {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.75);
    z-index: 2;
}

.close {
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#titulo_div{
    position: absolute;
    width: 460px;
    height: 480px;
    text-align: center;
    left: 50%;
    top: 50%;
    translate: -50% -50%; 
}

#titulo{
    color: white;
    font-size: 40px;
    font-family: 'poppins_bold';
    line-height: 60px;
    user-select: none;
}

.popup-content {
    width: 420px;
    height: 380px;
    color: rgba(40, 50, 40, 1);
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}


/* Estilo formulário popup */

.popup-content{
    font-family: 'poppins';
    color: rgba(40, 50, 40, 1);
}

#form_lista{
    text-align: left;
}

select{
    font-size: 25px;
    font-family: 'poppins_semibold';
    width: 100%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img_principais/seta_select.png') no-repeat right center;
    cursor: pointer;
}

select:focus{
    outline: none;
}

select option{
    font-size: 15px;
    font-family: 'poppins_medio';
    cursor: pointer;
}

#comentario_queroir{
    border: none;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90%;
    height: 60px;
    margin-top: 15px;
}

#comentario_queroir:focus{
    font-size: 15px;
    color: rgba(40, 50, 40, 1);
    font-family: 'poppins_medio';
}

#comentario_queroir::placeholder{
    font-family: 'poppins';
    font-size: 15px;
}

#jafui_div{
    margin-top: 15px;
    color: rgba(40, 50, 40, 1);
    font-family: 'poppins_medio';    
}

#jafui_div input[type='date']{
    margin-bottom: 10px;
    cursor: text;
}

#jafui_div input[type='range']{
    display: flex;
    width: 90%;
    cursor: w-resize;
}

#jafui_div input[type='date']{
    color: rgba(40, 50, 40, 1);
    padding: 5px;
    border-radius: 15px;
    font-family: 'poppins_medio';
    background-color: #f5f5f5;
    border: 2px solid rgba(187, 187, 187, 0.5);
    margin-left: 5px;
}

#salvar_destino_popup{
    color: white;
    background-color: #527265;
    font-family: 'poppins_medio';
    border-radius: 5px;
    width: 130px;
    height: 40px;
    border: 0px;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#salvar_destino_popup:hover{
    background-color: #527265d9;
    cursor: pointer;
}


/* Estilo página de viagem */

#salvar_destino_pagina{
    color: white;
    background-color: #527265;
    font-family: 'poppins_medio';
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: 0px;
    font-size: 15px;
}

#salvar_destino_pagina:hover{
    background-color: #527265d9;
    cursor: pointer;
}

#cabecalho{
    background-color: #527265;
    display: flex;
    justify-content: space-between;
}
